h1{
  text-align: center;
}

.after{
  float: right;
  font-weight: bolder;



}

.before{
  float: left;


}

.intro{
  text-align: center;
  background-image:url(c:/users/Derick/Desktop/decorator/img/7.jpg);
}

.size{
   height: 300px;
   width: 300px;
}
